<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!!!</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>  
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about" class="active">about</a></li>
            <li><a href="/photos">photos</a></li>
        </ul>
    </nav>
        
    <h1>That's what I was talking about. :)</h1>

    <main>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas accusantium iste non labore porro corporis beatae eum. Ad laboriosam tempora provident perferendis aliquid. Consequuntur beatae deserunt, nam asperiores voluptas incidunt?
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, provident dolore explicabo consequatur quaerat consequuntur!
        </p>
    </main>
  </body>
</html>
